start
jump progFATORIAL
progFATORIAL:
pushs "Introduza um numero inteiro positivo:"
writes
read
atoi
storeg 10
pushi 1
storeg 1
pushi 1
storeg 3
dostart2:
pushg 3
pushg 10
infeq
jz doend3
pushg 1
pushg 3
mul
storeg 1
pushg 3
pushi 1
add
storeg 3
jump dostart2
doend3:
pushs "Fatorial de "
writes
pushg 10
writei
pushs ": "
writes
pushg 1
writei
stop
