start
jump progCONVERSOR
fCONVRT:
pushi 0
storel 4
pushi 1
storel 3
pushl -1
storel 1
L202:
pushl 1
pushi 0
sup
jz ifelse3
pushl 1
pushl -2
mod
storel 2
pushl 4
pushl 2
pushl 3
mul
add
storel 4
pushl 1
pushl -2
div
storel 1
pushl 3
pushi 10
mul
storel 3
jump L202
jump ifend4
ifelse3:
ifend4:
pushl 4
storel 0
pushl 0
return
return
progCONVERSOR:
pushs "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
writes
read
atoi
storeg 2
pushi 2
storeg 0
dostart5:
pushg 0
pushi 9
infeq
jz doend6
pushg 0
pushg 2
pusha fCONVRT
call
storeg 3
pushs "BASE "
writes
pushg 0
writei
pushs ": "
writes
pushg 3
writei
pushg 0
pushi 1
add
storeg 0
jump dostart5
doend6:
stop