start
jump progSOMAARR
progSOMAARR:
pushi 5
allocn
pushi 0
storeg 6
pushs "Introduza 5 numeros inteiros:"
writes
pushi 1
storeg 0
dostart2:
pushg 0
pushi 5
infeq
jz doend3
pushst 0
pushg 0
pushi 1
sub
read
atoi
storen
pushg 6
pushst 0
pushg 0
pushi 1
sub
loadn
add
storeg 6
pushg 0
pushi 1
add
storeg 0
jump dostart2
doend3:
pushs "A soma dos numeros e: "
writes
pushg 6
writei
stop