start
jump progFATORIAL
progFATORIAL:
pushs "Introduza um numero inteiro positivo:"
writes
read
atoi
storeg 2
pushi 1
storeg 0
pushi 1
storeg 1
dostart2:
pushg 1
pushg 2
infeq
jz doend3
pushg 0
pushg 1
mul
storeg 0
pushg 1
pushi 1
add
storeg 1
jump dostart2
doend3:
pushs "Fatorial de "
writes
pushg 2
writei
pushs ": "
writes
pushg 0
writei
stop